@import "@penpot/plugin-styles/styles.css";

body {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    padding: 8px 0;
    position: relative;
}

main {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

section {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

header {
    font-size: 1rem;
    text-align: center;
    padding: 2rem 0;
}

.choice-selector {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    background-color: var(--lb-secondary);
    border-radius: var(--spacing-8);
    overflow: hidden;
    padding: 2px;
}

.choice-selector p {
    text-align: center;
    padding: 8px 0;
    border-radius: var(--spacing-8);
    cursor: pointer;
}

.choice-selector p:hover {
    color: black;
}

.choice-selected {
    color: var(--la-primary);
    background-color: var(--lb-tertiary);
}

.info-container {
    position: fixed;
    bottom: 0;
    left: 0;
}

.info-container button {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: transparent;
    color: var(--lf-secondary);
    border: 1px solid var(--lf-secondary);
    border-radius: 100px;
    height: 20px;
    width: 20px;
    cursor: pointer;
    font-weight: 600;
    opacity: 0.6;
    transition: opacity 0.2s ease-out;
}

.info-container button:hover {
    opacity: 1;
}

.info-content {
    background-color: var(--lb-secondary);
    display: none;
    padding: 8px 8px;
    padding-bottom: 2rem;
    transition: display 0.2s ease-out;
}

.info-content.visible {
    display: block;
}

[data-theme="dark"] {
    .choice-selected {
        color: var(--da-primary);
        background-color: var(--db-tertiary);
    }

    .choice-selector {
        background-color: var(--db-secondary);
    }

    .choice-selector p:hover {
        color: white;
    }
}